body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-style: normal;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
  filter: blur(3px);
}